.section2 {
    height: 100vh;
}

.section1 {
    /*background: url("../../images/palayan-bg.jpg") no-repeat center center fixed;*/
    background: url("../../images/newbg.png") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-nav{
    /*margin-left: 45px;*/
    margin-left: 130px;
    /*margin-top: 10px;*/
}

.slogan {
    font-family: futura-md-bt;
    color: #ffffff;
    text-align: center;
    margin-top: 26%;
    font-size: 50px;
}

.slogan-sub {
    font-family: Open-Sans;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

.section4 {
    height: 70vh;
    background: #e6f5fe;
}

.section4-slogan {
    color: #177fff;
    font-family: futura-md-bt;
    margin: 123px 0px 0 51px;
    font-size: 9.5vh;
}

#map {
    height: 70vh;
    width: 100%;
}

.section4-slogan-sub {
    color: #5a5a5a;
    font-family: open-sansbold;
    margin: 0 52px;
}

.section5 {
    height: 140vh;
    padding: 50px 0;
    background: #fff;
}

.section5-slogan {
    color: #177fff;
    font-family: futura-md-bt;
    /*font-size: 10vh;*/
    font-size: 7vh;

}

.section5-slogan-sub {
    color: #5a5a5a;
    font-family: open-sans;
    margin: 15px 0px 80px 0;
    font-size: 1.7vh;
}

.section5-row {
    width: 100%;
}

.slider-info {
    padding: 22px 42px;
    /*min-height: 40vh;*/
    /*max-height: 40vh;*/
    min-height: 36vh;
    max-height: 36vh;
}

.slide-title{
    font-family: futura-md-bt;
    color: #8dc640;
    font-size: 24px;
    line-height: 25px;
}

.slider-date {
    color: #d8d8d8;
    font-size: 11px;
}

.slider-description {
    font-family: Open-Sans;
    font-size: 11px;
}

.slider-des{
    line-height: 16px;
}

.slide {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 22px #ccc;
    border: 1px solid #fff;
    /*background: #fff;*/
}

.bx-wrapper {
    max-width: 800px;
    min-width: 800px;
}

.lrnmore{
    font-family: open-sansbold;
    border-radius: 30px;
    width: 12%;
}

.sec2-content{
    font-family: futura-md-bt;
    color: #8dc640;
    margin-left: 26%;
    margin-top: 20%;
    font-size: 53pt;
}

.sec2-content1{
    font-family: open-sansbold;
    color: #5a5a5a;
    margin-left: 26%;
    font-size: 20px;
}

.sec2-content2{
    font-family: Open-Sans;
    color: #5a5a5a;
    margin-left: 26%;
    line-height: 25px;
}

.sec2-content3{
    font-family: Open-Sans;
    color: #acbbce;
    line-height: 25px;
}
.bullets{
    font-family: Open-Sans;
    margin-left: 29%;
    line-height: 25px;
    color: #177fff;
    font-size: 13px;

}

.sec2-img{
    width: 90%;
    margin-top: 20%;
}

.rdmre{
    margin-left: 28%;
    font-family: open-sansbold;
    border-radius: 30px;
    width: 24%;
}

.section3 {
    background: url("../../images/sec3-bg.png") no-repeat center;
    height: 64vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slogan1 {
    font-family: futura-md-bt;
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    margin-top: 11%;
}

.slogan-sub1 {
    font-family: Open-Sans;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
    padding: 0px 214px;
}

.section6 {
    background: url("../../images/sec6-bg.png") no-repeat center;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slogan2 {
    font-family: futura-md-bt;
    color: #ffffff;
    font-size: 60px;
    margin-top: 11%;
    margin-left: 20%;
}

.sec6-content{
    font-family: open-sansbold;
    color: #ffffff;
    line-height: 40px;
    font-size: 14px;
    margin-left: 20%;
}

.slogan-sub2 {
    font-family: Open-Sans;
    color: #ffffff;
    line-height: 18px;
    font-size: 11px;
    margin-left: 20%;
}

.lrninvest{
    font-family: open-sansbold;
    margin-left: 20%;
    color: #177fff;
    margin-top: 3%;
    border-radius: 30px;
    width: 19%;
}

.footer-label{
    font-family: futura-md-bt;
    color: #8dc640;
}

.footer-content{
    color: #535353;
    font-family: Open-Sans;
    padding: 0px 422px;
    line-height: 20px;
    margin-bottom: 35px;
}

.footer{
    text-align: center;
}

.phone-icon{
    width: 8%;
}

.mail-icon{
    width: 8%;
    margin-left: 100%;
}

.mail{
    margin-left: 10%;
}

.mail1{
    font-family: open-sansbold;
    color: #177fff;
    font-size: 14px;
    margin-top: 4px;
    margin-left: -116px;

}

.telephone{
    /*margin-left: -8%;*/
    margin-left: -19%;
}

.number {
    font-family: open-sansbold;
    /*margin-left: -23%;*/
    margin-left: -163%;
    color: #177fff;
    font-size: 14px;
    /*margin-top: -17px;*/
    margin-top: 5px;
}

.imglogo{
    margin-top: 65px;
}

.rowfooter{
    padding-bottom: 100px;
    background: #fff;
}

.bx-viewport {
    height: 664px;
    padding: 14px;
    padding-left: 2px;
}