.section2 {
    height: 100vh;
}

.section1 {
    background: url("../../images/palayan-bg.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slogan {
    font-family: futura-md-bt;
    color: #ffffff;
}

.slogan-sub {
    font-family: Open-Sans;
    color: #ffffff;
}

.section4 {
    height: 70vh;
    background: #e6f5fe;
}

.section4-slogan {
    color: #177fff;
    font-family: futura-md-bt;
    margin: 123px 0px 0 51px;
    font-size: 9.5vh;
}

#map {
    height: 70vh;
    width: 100%;
}

.section4-slogan-sub {
    color: #5a5a5a;
    font-family: open-sansbold;
    margin: 0 52px;
}

.section5 {
    height: 140vh;
    padding: 50px 0;
    background: #fff;
}

.section5-slogan {
    color: #177fff;
    font-family: futura-md-bt;
    font-size: 10vh;

}

.section5-slogan-sub {
    color: #5a5a5a;
    font-family: open-sansbold;
    margin: 30px 0px 80px 0;
    font-size: 1.7vh;
}

.slider-info {
    padding: 22px 42px;
    min-height: 40vh;
    max-height: 40vh;
}

.slide-title{
    font-family: futura-md-bt;
    color: #8dc640;
    font-size: 24px;
}

.slider-date {
    color: #d8d8d8;
    font-size: 11px;
}

.slider-description {
    font-family: Open-Sans;
    font-size: 11px;
}

.slide {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 22px #ccc;
    border: 1px solid #fff;
    /*background: #fff;*/
}

.bx-wrapper {
    max-width: 800px;
    min-width: 800px;
}